<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/screen.css">
  <link href='http://fonts.googleapis.com/css?family=Nova+Mono' rel='stylesheet' type='text/css'>
  <meta http-equiv="Content-Language" content="en" /> 
  <meta name="language" content="en" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  {{ content }}
<footer>
  <p>Impressum</p>
</footer>
</body>
</html>